:root {
  --font-primary: "Roboto";
  --font-secondary: "Raleway";
  --font-color-primary: #212121;
  --font-color-secondary: #757575;
  --font-color-action: #2196f3;
  --background-color-primary: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-employees: #f5f4fa;
  --logo-color-second: #000000;
  --gap-section-goods: 30px;
  --icon-color-normal: #afb1b8;
}
* {
  margin: 0;
}
body {
  font-family: var(--font-primary, sans-serif);
  background-color: var(--background-color-primary, #ffffff);
  color: var(--font-color-primary, #212121);
}
.logo-dark {
  padding-right: 93px;
  font-family: var(--font-secondary, sans-serif);
  color: var(--logo-color-second, #000000);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.48px;
}
.logo-light {
  font-family: var(--font-secondary, sans-serif);
  color: var(--background-color-primary, #ffffff);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.48px;
  display: block;
  padding-bottom: 20px;
}
.logo-color {
  color: var(--font-color-action, #2196f3);
}
.link-nav {
  text-decoration: none;
  letter-spacing: 0.32px;
  color: var(--font-color-primary, #212121);
}
.item-nav {
  margin-right: 46px;
}
.list-header > .item-header:not(:last-child) {
  margin-right: 50px;
}
.list-header > .item-header:not(:last-child) {
  margin-left: 315px;
}
.list-format {
  font-size: 14px;
  list-style: none;
  padding: 0;
}
/*.icon-nav:hover,
.icon-nav:focus,*/
.link-nav:focus,
.link-nav:hover {
  color: var(--font-color-action, #2196f3);
}
.link-nav:hover .icon-nav {
  fill: var(--font-color-action);
}

.nav-flex {
  display: flex;
}
.section-slogan button {
  color: var(--background-color-primary, #ffffff);
  background-color: var(--font-color-action, #2196f3);
  border-color: var(--font-color-action, #2196f3);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  border-width: 0;
  box-shadow: 0px 4px 4px #00000026;
}
.cards button {
  background-color: var(--background-color-employees, #f5f4fa);
  border-color: var(--background-color-employees, #f5f4fa);
  color: var(--font-color-primary, #212121);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  justify-content: center;
  border-width: 0;
}
button:active,
button:focus,
button:hover {
  background-color: var(--font-color-action, #2196f3);
  border-color: var(--font-color-action, #2196f3);
  color: var(--background-color-primary, #ffffff);
  cursor: pointer;
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;
}
button::first-letter {
  text-transform: uppercase;
}
.header-background,
.section-info,
.section-work,
.section-goods {
  background-color: var(--background-color-primary, #ffffff);
}
.header-background {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}
.header-flex {
  display: flex;
}
.footer-background,
.section-slogan {
  background-color: var(--background-color-secondary, #2f303a);
}
.image-bg {
  margin: 0 auto;
  width: 1600px;
  height: 600px;
  background-image: url("../images/img-overlay.png"),
    url("../images/img-bg.png");
  background-repeat: no-repeat;
  background-position: cover;
}
.footer-background {
  padding: 60px 0;
  background-color: var(--background-color-secondary, #2f303a);
}
.section-slogan {
  text-align: center;
}
.main-title {
  color: var(--background-color-primary, #ffffff);
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.37;
  letter-spacing: 0.96px;
  text-align: center;
  margin-bottom: 30px;
}
.slogan {
  padding-top: 106px;
  width: 696px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.cards > .card:not(:last-child) {
  margin-right: 30px;
}
.cards-set {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-section-goods);
  padding: 0;
}
.cards--buttons {
  justify-content: center;
  margin-bottom: 50px;
}
.cards--buttons button {
  padding: 6px 22px;
}
.cards--buttons > .item-button:not(:last-child) {
  margin-right: 8px;
}
.card__footer,
.card__header {
  font-size: 14px;
  font-weight: 700px;
  letter-spacing: 0.48px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card__footer {
  margin-bottom: 20px;
  color: var(--background-color-primary);
}
.card__info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.48px;
  color: var(--font-color-secondary, #757575);
}
.section-work__header,
.section-team__header,
.section-clients__header {
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-align: center;
  padding-bottom: 50px;
}
.section-work__header::first-letter,
.section-team__header::first-letter,
.section-clients__header::first-letter {
  text-transform: uppercase;
}
.section-team {
  background-color: var(--background-color-employees, #f5f4fa);
}
.card {
  background-color: var(--background-color-primary, #ffffff);
}
.shadow-employee {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  text-align: center;
  margin: 30px 99px 10px;
}
.card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 16px;
  color: var(--font-color-secondary);
}
.list-format__text {
  font-size: 14px;
  line-height: 1.71;
  text-transform: capitalize;
  color: var(--background-color-primary, #ffffff);
  font-style: normal;
}
.list-format__text::first-letter {
  text-transform: lowercase;
}
.list-format__link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff99;
  font-style: normal;
}
.list-header {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: capitalize;
  list-style: none;
}
.lowercase {
  text-transform: lowercase;
}
.link-color {
  color: var(--font-color-secondary, #757575);
}
.card-goods {
  flex-basis: calc((100% - 2 * var(--gap-section-goods)) / 3);
  border-bottom: 1px solid #eeeeee;
}
.card-goods:hover,
.card-goods:focus {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f,
    1px 4px 6px #00000029;
}
.card-goods__img {
  margin-bottom: 20px;
}
.card-goods__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.96px;
  margin: 0 24px 4px;
}
.card-goods__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
  color: var(--font-color-secondary, #757575);
  margin: 0 24px 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section-info {
  padding-bottom: 0;
}
.icon {
  outline: 1px solid var(--icon-color-normal);
  fill: var(--icon-color-normal);
  padding: 16px 32px;
  border-radius: 4px;
}
.div-media:active,
.div-media:focus,
.div-media:hover,
.icon-media:active,
.icon-media:focus,
.icon-media:hover {
  background-color: var(--font-color-action);
  fill: var(--background-color-primary);
  cursor: pointer;
}
.div-media:hover .icon-media {
  fill: var(--background-color-primary);
}
.icon-info:active,
.icon-info:focus,
.icon-info:hover,
.icon:active,
.icon:focus,
.icon:hover {
  outline-color: var(--font-color-action);
  fill: var(--font-color-action);
  cursor: pointer;
}
.icon-info {
  padding: 25px 100px;
  border-radius: 4px;
  fill: var(--font-color-primary);
  background-color: var(--background-color-employees);
  margin-bottom: 30px;
}
.div-media {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50px;
}
.div-media-footer {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50px;
  background: #ffffff1a;
  margin-right: 10px;
}
.div-media-footer:active,
.div-media-footer:focus,
.div-media-footer:hover {
  background-color: var(--font-color-action);
  cursor: pointer;
}
.icon-media {
  fill: var(--icon-color-normal);
}
.cards-media {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 30px 30px;
  padding: 0;
}
.icon-media-footer {
  fill: var(--background-color-primary);
}
.cards-media-footer {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.footer-flex {
  display: flex;
}
.address-footer-container {
  margin-right: 70px;
}
.media-footer-container {
  margin-top: 12px;
}
.icon-nav {
  fill: var(--font-color-secondary);
  margin-right: 10px;
}
