body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #212121;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 26px;
}
.logo-color {
  color: #2196f3;
}
.link-nav {
  text-decoration: none;
}

.list-format {
  font-size: 14px;
}
.link-nav:focus,
.link-nav:hover {
  color: #2196f3;
}
button:active,
button:focus,
button:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
