:root {
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
  --primary-color-font: #212121;
  --secondary-color-font: #757575;
  --action-color-font: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --employees-background-color: #f5f4fa;
  --logo-second-color: #000000;
}

body {
  font-family: var(--primary-font, sans-serif);
  background-color: var(--primary-background-color, #ffffff);
  color: var(--primary-color-font, #212121);
}
.logo-dark {
  font-family: var(--secondary-font, sans-serif);
  color: var(--logo-second-color, #000000);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
.logo-light {
  font-family: var(--secondary-font, sans-serif);
  color: var(--primary-background-color, #ffffff);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
.logo-color {
  color: var(--action-color-font, #2196f3);
}
.link-nav {
  text-decoration: none;
  color: var(--primary-color-font, #212121);
}

.list-format {
  font-size: 14px;
  list-style: none;
}
.link-nav:focus,
.link-nav:hover {
  color: var(--action-color-font, #2196f3);
}
button:active,
button:focus,
button:hover {
  background-color: var(--action-color-font, #2196f3);
  border-color: var(--action-color-font, #2196f3);
  color: var(--primary-background-color, #ffffff);
  cursor: pointer;
}
button::first-letter {
  text-transform: uppercase;
}
.header-background,
.section-info,
.section-work,
.section-goods {
  background-color: var(--primary-background-color, #ffffff);
}
.footer-background,
.section-slogan {
  background-color: var(--secondary-background-color, #2f303a);
}
.main-title {
  color: var(--primary-background-color, #ffffff);
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.37;
}
.cards {
  list-style: none;
}
.card__header {
  font-size: 14px;
  font-weight: 700px;
  line-height: 1.17;
  text-transform: uppercase;
}
.card__info {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-font, #757575);
}
.section-work__header,
.section-team__header {
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.17;
}
.section-work__header::first-letter,
.section-team__header::first-letter {
  text-transform: uppercase;
}
.section-team {
  background-color: var(--employees-background-color, #f5f4fa);
}
.card {
  background-color: var(--primary-background-color, #ffffff);
}
.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
}
.card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
}
.list-format__text {
  font-size: 14px;
  line-height: 1.71;
  text-transform: capitalize;
  color: var(--primary-background-color, #ffffff);
}
.list-format__link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff99;
}
.list-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: capitalize;
  list-style: none;
}
.lowercase {
  text-transform: lowercase;
}
.link-color {
  color: var(--secondary-color-font, #757575);
}
.card-goods__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.card-goods__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color-font, #757575);
}
