:root {
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
  --primary-color-font: #212121;
  --secondary-color-font: #757575;
  --action-color-font: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --employees-background-color: #f5f4fa;
  --logo-second-color: #000000;
}

body {
  font-family: var(--primary-font, sans-serif);
  background-color: var(--primary-background-color, #ffffff);
  color: var(--primary-color-font, #212121);
}
.logo-dark {
  font-family: var(--secondary-font, sans-serif);
  color: var(--logo-second-color, #000000);
  text-decoration: none;
  font-size: 26px;
}
.logo-light {
  font-family: var(--secondary-font, sans-serif);
  color: var(--primary-background-color, #ffffff);
  text-decoration: none;
  font-size: 26px;
}
.logo-color {
  color: var(--action-color-font, #2196f3);
}
.link-nav {
  text-decoration: none;
}

.list-format {
  font-size: 14px;
}
.link-nav:focus,
.link-nav:hover {
  color: var(--action-color-font, #2196f3);
}
button:active,
button:focus,
button:hover {
  background-color: var(--action-color-font, #2196f3);
  border-color: var(--action-color-font, #2196f3);
  color: var(--primary-background-color, #ffffff);
  cursor: pointer;
}
.header-background,
.primary-background {
  background-color: var(--primary-background-color, #ffffff);
}
.footer-background,
.dark-background {
  background-color: var(--secondary-background-color, #2f303a);
}
.main-title {
  color: var(--primary-background-color, #ffffff);
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.37;
}
.title-list-item {
  font-size: 14px;
  font-weight: 700px;
  line-height: 1.17;
  text-transform: uppercase;
}
.paragraph-list-item {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-font, #757575);
}
